
{% extends "MPPlatformBundle::layout.html.twig" %}

{% block title %}
    Blog - {{ parent() }}
{% endblock %}

{% block mpplatform_body %}

    <h2>Liste des articles</h2>
    <ul>
        {% for advert in listAdverts %}
            <li>
                <a href="{{ path('mp_platform_view', {'id': advert.id}) }}">
                    {{ advert.title }}
                </a>
                par {{ advert.author }},
                le {{ advert.date|date('d/m/Y') }}
            </li>
        {% else %}
            <li>Pas encore d'annonces</li>
        {% endfor %}
    </ul>
{% endblock %}